#top-bar{
    display:grid;
    grid-template-areas:
        "adreses"
        "soc";
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(20px, auto);
    border-bottom: 1px solid #e5e5e5;
}
#kontaktinfo{
    grid-area: adreses;
    display: grid;
    grid-template-areas:
        "adrese"
        "epasts";
    grid-template-columns: 1fr;
    padding: 0;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

#kontaktinfo li{
    float: left;
}

#kontaktinfo > li:nth-child(1){
    grid-area: adrese;
    display: block;
    justify-self:center;
    align-self: center;
    padding: 3px 0 3px 0;
}
#kontaktinfo > li:nth-child(2) {
    grid-area: epasts;
    justify-self:center;
    align-self: center;
    padding: 0px;
}

#kontaktinfo > li:nth-child(1) a {
    padding: 0;
    display: inline-block;
    color: #151515;
    font-size: 0.8em;
    text-decoration: none;
}
#kontaktinfo > li:nth-child(2) a {
    padding: 0;
    display: inline-block;
    color: #151515;
    font-size: 0.8em;
    text-decoration: none;
}

#kontaktinfo > li > a i{
    color: #37d6c0;
    padding-right: 6px;
}

#kontaktinfo > li > a:hover{
    color: #37d6c0;
}

.soc{
    grid-area: soc;
    justify-self:center;
    align-self: center;
    padding: 8px 0;
    font-size: 0.75em;
}

.soc > a{
    color: #959595;
    font-size: 0.9em;
    padding-right: 8px;
}

.site-branding {
        display: grid;
        grid-template-areas:
        "logo"
        "phone";
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
	min-height: 65px;
        border-bottom: 1px solid #e5e5e5;
}

.custom-logo-link {
        grid-area: logo;
	    margin: 1em auto;
        padding:0 auto;
	img {
		display: block;
		height: auto;
		width: 230px;
	}
}
.phone{
    grid-area: phone;
}
.site-branding a:nth-child(2) {
    display: flex;
    align-items: center;
    font-family: Lucida;
    text-decoration: none;
    font-size: 1em;
    color: #373f50;
    padding: 0.5em 0;
    text-align: center;
}
.site-branding a:nth-child(2) i{    
    color: #37d6c0;
    padding-right: 6px;
    font-size: 1.4em;
}

/*
Header Menu
*/
@import "header-menu";
/**/

.site-header{
    font-family: $font__din-pro-light;
    margin-bottom: 1em;
    
    @media screen and (min-width: $query__small){
        #top-bar{
            grid-template-columns: 2fr 1fr;
            grid-template-areas:
                "adreses soc";
            grid-auto-rows: minmax(20px, auto);
        }
        
        #kontaktinfo{
            grid-template-columns: minmax(20px, auto) 1fr;
            padding: 0.2em 0;
            grid-template-areas:
            "adrese" 
            "epasts";
        }
        #kontaktinfo > li:nth-child(1){
           justify-self: start;

        }        
        #kontaktinfo > li{
            font-size: 0.85em;
        }
        #kontaktinfo > li i {
            font-size: 1.2em;
        }
        #kontaktinfo > li:nth-child(1) a {
            padding: 0 1em 0 2em;
        }
        #kontaktinfo > li:nth-child(2) {
            justify-self:start;
        }
        #kontaktinfo > li:nth-child(2) a {
            padding: 0 1em 0 2em;
        }
        .soc{
            justify-self:end;
            padding-right: 0.5em;
        }
        .soc > a{
            font-size: 0.86em;
            padding-right: 1.5em;
        }
        .site-branding {
            grid-template-areas:
            "logo phone";
            grid-template-columns: 1fr 1fr;
        }
        
        .custom-logo-link {
                justify-self: start;
                margin: 0.8em 0 1em 2em;
            img {
                width: 280px;
            }
        }
        .phone{
            justify-self: end;
            padding-right: 2em;
        }
        
        .site-branding a:nth-child(2) {
            padding-right: 1em;
        }
    }
    @media screen and (min-width: $query__medium){        
        #kontaktinfo{
            grid-template-areas:
            "adrese epasts";
        }     
        #kontaktinfo > li{
            font-size: 0.8em;
        }
        #kontaktinfo > li:nth-child(1) a {
            display: flex;
            align-items: center;
            padding: 0 0 0 14em;
        }
        #kontaktinfo > li:nth-child(2) a {
            display: flex;
            align-items: center;
            padding: 0 0 0 1em;
        }
        .soc{
            padding-right: 10em;
        }
        .soc > a{
            font-size: 0.7em;
            padding-right: 1em;
        }
        .custom-logo-link {
            padding-left: 9em;
            img {
                width: 280px;
            }
        }
        .site-branding a:nth-child(2) {
            padding-right: 8em;
        }
    }
}