.menu{
	margin:0;
	background-color: rgb(96, 150, 221);
}
.main-navigation{
	display: flex;
	flex-wrap: wrap;
	.menu-name{
		font-size: 1.2em;
	}
	
	.bar,
	.bar:before,
	.bar:after {
		display: block;
		position: absolute;
		width: 35px;
		height: 4px;
		right: 0.8em;
		background-color: white;
		transition: all 0.3s ease-in-out;
	}

		
	.bar:before {
		position: absolute;
		content: '';
		top: 10px;
		left: 0;
	}

	.bar:after {
		position: absolute;
		content: '';
		top: -10px;	
		left: 0;
	}

	.menu-toggle[aria-expanded="true"] .bar {
		background-color: transparent;	
	}

	.menu-toggle[aria-expanded="true"] .bar:before {
		top: 0;
		transform: rotate(45deg);	
	}

	.menu-toggle[aria-expanded="true"] .bar:after {
		top: 0;
		transform: rotate(-45deg);	
	}


	.menu-toggle{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		flex: 0 0 100%;
		background-color: rgb(96, 150, 221);
		color:White;
		text-transform: uppercase;
	}

	.menu-kustiesbrivi_top-container{
		flex: 0 0 100%;
	}

	>div{
		width: 100%;
	}

	ul {
		display: none;
		list-style: none;
		padding: 0.5em 0 0.5em 1em;

		ul {
			display: none;
			list-style: none;
			padding-left: 1em;
			margin-left:0;
		}
	}
	.dropdown-toggle{
		border: none;
		padding: 0;
		padding-left:0.5em;
	}

	a {
		color:white;
		padding: .5em 0;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.2em;
	}

	a:hover,
	a:focus {
		text-decoration: underline;
	}
	.dropdown-symbol{
		color: white;
	}
}

.toggled-on ul,
.sub-menu.toggled-on{
	display: flex;
	flex-direction: column;
}
.main-navigation.toggled-on{
	.menu-toggle{
		border: none;
		background-color: rgba(96, 150, 221, 0.568);
	}
}

a, a:active, a:focus {
	outline: none;
 }


@media screen and (min-width: $query__medium) {
	.main-navigation {

		.menu-toggle {
			display: none;
		}

		.menu{
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			margin-right: 2.2em;
			background-color: transparent;
			
			li{
				padding: 0 0.5em;
				// border-right: 2px solid;
			}
			// li:nth-last-child(1){
			// 	border:none;
			// }

			li a{
				color:black;
				font-size: 1em;
			}

			li a:hover, a:focus{
				color: #37d6c0;
			}

			.dropdown-symbol{
				color: black;
			}
			
			// ul{
			// 	position: absolute;
				
			// 	li{
			// 		border:none;
			// 		text-align: right;
			// 	}	
			// 	ul{
			// 		position: relative;
			// 	}				
			// }

		}
	}

}












// .main-navigation {
// 	display: grid;
// 	grid-template-columns: 1fr;
// 	grid-template-rows: minmax(2em,auto);

// 	font-family: $font__din-pro-light;
// 	font-weight: 400;
// 	clear: left;

// 	ul {
// 		display: none;
// 		list-style: none;
// 		margin: 0;
// 		padding-left: 0;
		

// 		ul {
// 			display: none;
// 			top: 1.5em;
// 			z-index: 99999;

// 			ul {
// 				top: 0;
// 			}

// 			li {
// 				padding-left: 1em;

// 				&:hover > ul,
// 				&.focus > ul {
// 					left: 100%;
// 				}
// 			}

// 			a {
// 				// width: 200px;
// 			}
// 		}

// 		li:hover > ul,
// 		li.focus > ul {
// 			left: auto;
// 		}
// 	}

// 	li {
// 		position: relative;
// 	}

// 	a {
// 		display: inline-block;
// 		width: 100%;
// 		padding: .5em 1em .5em 0;
// 		text-decoration: none;
// 		color: #000;
// 		text-transform: uppercase;
// 	}

// 	a:hover,
// 	a:focus {
// 		text-decoration: underline;
// 	}

// 	.current_page_item > a,
// 	.current-menu-item > a,
// 	.current_page_ancestor > a,
// 	.current-menu-ancestor > a {
// 	}

// 	.menu-item-has-children,
// 	.page_item_has_children {
// 		min-width: 100px;
// 	}
// 	.menu-item-has-children > a,
// 	.page_item_has_children > a {
// 		padding-right: 2em;
// 	}
// }

// button.dropdown-toggle {
// 	position: absolute;
// 	right: 0;
// 	border: none;
// 	background: inherit;
// 	color: black; 
// 	line-height: 0.5em;
// 	padding: .4em 1em .4em .5em;
// }

// .menu-toggle {
// 	padding: 1em 0;
// 	font-size: 90%;
// 	text-transform: uppercase;
// 	color: black;
// 	border: 0.25px solid hsla(0, 0%, 100%, .3);
// }

// .menu-toggle:hover,
// .menu-toggle:focus {
// 		color: white; 
// 		background-color: #39A8E0;
// 		font-weight: bolder;
// 	}

// /* Toggle small menu and children on */
// .toggled-on ul,
// .sub-menu.toggled-on {
// 	display: block;
	
// }

// @media screen and (min-width: $query__small) {
// 	.menu-toggle {
// 		display: none;
// 	}

// 	.main-navigation {

// 		.menu-item-has-children > a,
// 		.page_item_has_children > a {
// 			padding-right: 2em;
// 			background: hsla(0, 0%, 100%, .1);
// 		}

// 		ul {
// 			display: block;
// 			display: flex;
// 			// flex-wrap: wrap;
// 			justify-content: flex-end;
// 			padding-top: 0.5em;

// 			li {
// 				font-size: 0.8em;
				
// 				a {
// 					padding: .4em 1em;
// 				}

// 				.dropdown-symbol{
// 					font-size: 0.8em;
// 				}
// 			}

// 			ul {
// 				flex-direction: column;
// 				background: hsla(0, 0%, 100%, .1);
// 				margin-left: 0;

// 				li {
// 					font-size: 1em;

// 					a {
// 						// width: 180px;
// 						background: none;
// 					}
// 				}
// 			}
// 		}

// 	}

// }

// @media screen and (min-width: $query__medium) {
// 	.main-navigation {

// 		ul {
// 			padding-top: 0;
// 			padding-right: 1.4em;

// 			/* If you want dropdowns to open on hover, uncomment this: */
			
// 			// li:hover > ul,
// 			// 	li:focus > ul {
// 			// 	display: block;
// 			// }
			
// 		}

		

// 	}
// }